.main-bg 
{
    background-color: white;
    height: 10px;
}
.first-page {
    background-color:black;
}
.main-head
{
    font-size:bold;
}
.bg-container {
    background-image: url("https://static.wixstatic.com/media/c22c23_e140bfa8cd6f4cb2ac5ee6e204f64073~mv2.jpg");
    height:100vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.heading 
{
    color:white;
    font-family: sans-serif;
    font-size: 80px;
    margin-left:120px;
    padding-top: 100px;

    
}
.para-1 
{
    color:lightgray;
    padding-left: 122px;
    font-size: 20px;
}
.but {
    background-color: rgb(51, 70, 243);
    color:white;
    font-size: 20px;
    margin-left: 122px;
    width: 150px;
    height:40px;
    border-radius: 20px;
}
.drones-card{
    background-color: rgb(226, 238, 235);
    height:40vh;
    width:300px;
    margin-top: 20px;
    margin-left: 20px;
    border-style:solid;

}

.height-increase{
    height:126vh;
    background-color:rgb(246, 249, 250);
}
.img-size{
    height:39vh;
    width:293px;
}
.item-heading{
    padding-top: 10px;
    font-size:18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}